@import 'utilCode';
@font-face {
  font-family: appleGothic;
  src: url(../font/AppleSDGothicNeoB.ttf) format('truetype');
}

// 애니메이션
@keyframes backgroundDot {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: .4;
    transform: scale(300%);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes career {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// 스타일
* {
  font-family: 'appleGothic';
}
.btn_linkIntro {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: coral;
  &:focus {
    top: 0;
  }
}
.sec_loading.on {
  display: block;
}
.sec_loading {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  .txt_loading {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.index_header {
  position: fixed;
  top: 0;
  width: 100%;
}
.list_nav {
  display: flex;
  justify-content: space-around;
  max-width: 640px;
  margin-left: auto;
  padding: 20px 0;
  a {
    font-size: 36px;
    font-weight: 900;
    transition: all .25s;
    color: dimgray;
  }
  a:hover {
    color: coral;
  }
}

// 표지
.index_main.on {
  display: block;
}
.index_main {
  display: none;
}
.sec_theme.on {
  display: flex;
}
.sec_intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .txt_backName {
    margin: 50px 0 0 240px;
    font-size: 220px;
    font-weight: 700;
    opacity: 0;
    animation: opacity 3s forwards 2s;
    cursor: default;
    span {
      display: block;
      color: lightgray;
    }
  }
  .dot1 {
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    animation: backgroundDot 3s forwards;
  }
  .dot2 {
    position: absolute;
    top: 200px;
    right: 300px;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding-top: 20px;
    background-image: url(../images/img_me.jpg);
    background-size: cover;
    background-position: center center;
    animation: backgroundDot 2s forwards;
  }
  .dot3 {
    position: absolute;
    top: 500px;
    left: 550px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: goldenrod;
    opacity: 0;
    animation: backgroundDot 4s forwards .7s;
  }
  .dot4 {
    position: absolute;
    top: 700px;
    right: 200px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: lightgoldenrodyellow;
    opacity: 0;
    animation: backgroundDot 5s forwards .5s;
  }
}

// 소개
.sec_career {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  .txt_title {
    display: block;
    font-size: 50px;
    margin-bottom: 50px;
    opacity: 0;
    animation: career 2s forwards 1s;
  }
  .artic_career {
    margin-bottom: 40px;
    opacity: 0;
    h4 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    .wrap_content {
      display: flex;
      margin-bottom: 15px;
    }
    dt,
    dd {
      font-size: 24px;
      color: dimgray;
    }
    dt {
      font-weight: 700;
    }
    dd {
      margin-left: 7px;
    }
    .txt_detail {
      color: dimgray;
    }
  }
  .artic_front {
    animation: career 2s forwards 1.3s;
  }
  .artic_react {
    animation: career 2s forwards 1.6s;
  }
  .dot1 {
    position: absolute;
    top: 500px;
    right: 120px;
    border-radius: 100%;
    width: 170px;
    height: 170px;
    background-color: lightgoldenrodyellow;
    opacity: 0;
    animation: backgroundDot 3s forwards;
  }
  .dot2 {
    position: absolute;
    top: 350px;
    right: 350px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 127, 80, 0.5);
    opacity: 0;
    animation: backgroundDot 4s forwards;
  }
}

// 기술
.sec_skills {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  .txt_title {
    display: block;
    font-size: 50px;
    margin-bottom: 10px;
    opacity: 0;
    animation: career 2s forwards;
  }
  .list_level {
    display: flex;
    margin-bottom: 50px;
    opacity: 0;
    animation: career 2s forwards .2s;
    .wrap_content {
      display: flex;
      margin-right: 10px;
    }
    dt,
    dd {
      color: dimgray;
    }
    dt {
      font-size: 18px;
      font-weight: 700;
    }
    dd {
      font-size: 16px;
      margin-left: 7px;
    }
  }
  .list_levels {
    .btn_level {
      border: none;
      border-bottom: 3px solid dimgray;
      margin-bottom: 30px;
      padding-bottom: 10px;
      font-size: 36px;
      font-weight: 700;
      color: darkgray;
      background-color: white;
      opacity: 0;
      transition: all .25s;
      cursor: pointer;
    }
    .btn_level:hover {
      padding-right: 25px;
      color: coral;
    }
    .btn_level.on {
      padding-right: 25px;
      color: black;
    }
    .btn_level5 {
      animation: career 1s forwards .4s;
    }
    .btn_level4 {
      animation: career 1s forwards .5s;
    }
    .btn_level3 {
      animation: career 1s forwards .6s;
    }
    .btn_level2 {
      animation: career 1s forwards .7s;
    }
  }
  .wrap_skillLevel {
    position: relative;
  }
  .txt_skill {
    display: none;
    position: absolute;
    top: -40px;
    left: 200px;
    line-height: 300px;
    font-size: 250px;
    opacity: 0;
    animation: career 2s forwards;
    cursor: default;
  }
  .txt_skill.on {
    display: block;
  }
  .txt_smallLetter {
    font-size: 200px;
  }
}

// 작품
.sec_works {
  display: none;
  align-items: center;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  .wrap_btnWorks {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;
    .txt_title {
      display: block;
      font-size: 50px;
      margin-bottom: 50px;
      opacity: 0;
      animation: career 2s forwards;
    }
    .list_works {
      .btn_work {
        border: none;
        border-bottom: 3px solid dimgray;
        width: 240px;
        margin-bottom: 30px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 36px;
        font-weight: 700;
        color: darkgray;
        background-color: white;
        opacity: 0;
        transition: all .25s;
        cursor: pointer;
      }
      .btn_work:hover {
        width: 265px;
        color: coral;
      }
      .btn_work.on {
        width: 265px;
        color: black;
      }
      .btn_workTeam {
        animation: career 1s forwards .4s;
      }
      .btn_workPortfolio {
        animation: career 1s forwards .5s;
      }
      .btn_netflix {
        animation: career 1s forwards .6s;
      }
      .btn_workOpen {
        animation: career 1s forwards .7s;
      }
    }
  }
  .artic_work.on {
    display: flex;
  }
  .artic_work {
    display: none;
    .img_work {
      position: relative;
      border: 2px solid dimgray;
      width: 500px;
      height: 700px;
      opacity: 0;
      animation: career 2s forwards .1s;
    }
    .txt_link,
    .txt_linkError {
      position: relative;
    }
    .txt_link::after,
    .txt_linkError::after {
      content: '위 이미지를 누르면 해당 페이지로 이동합니다.';
      display: block;
      position: absolute;
      bottom: -25px;
      left: 50%;
      width: fit-content;
      transform: translateX(-50%);
      opacity: 0;
      animation: opacity 2s forwards .1s;
      cursor: default;
    }
    .txt_linkError::after {
      content: '위 이미지를 누르면 페이지 오류로 인해 깃허브로 이동합니다.';
    }
    .txt_block {
      color: darkred;
    }
    .list_workDetail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      margin-left: 30px;
      .txt_git {
        border-bottom: 2px solid black;
        transition: all .2s;
      }
      .txt_git:hover {
        border-bottom: 2px solid coral;
        color: coral;
      }
      dt {
        font-size: 30px;
        font-weight: 700;
      }
      li {
        font-size: 20px;
      }
      .list_contribute {
        small {
          display: block;
          text-indent: 15px;
        }
      }
      .wrap_content {
        opacity: 0;
      }
      .wrap_summary {
        animation: career 1s forwards .5s;
      }
      .wrap_setting {
        animation: career 1s forwards .7s;
      }
      .wrap_core {
        animation: career 1s forwards .9s;
      }
    }
  }
}