@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@font-face {
  font-family: appleGothic;
  src: url(../font/AppleSDGothicNeoB.ttf) format("truetype");
}

@-webkit-keyframes backgroundDot {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: .4;
    -webkit-transform: scale(300%);
            transform: scale(300%);
  }
}

@keyframes backgroundDot {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: .4;
    -webkit-transform: scale(300%);
            transform: scale(300%);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes career {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes career {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  font-family: 'appleGothic';
}

.btn_linkIntro {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: coral;
}

.btn_linkIntro:focus {
  top: 0;
}

.index_header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.list_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 640px;
  margin-left: auto;
  padding: 20px 0;
}

.list_nav a {
  font-size: 36px;
  font-weight: 900;
  -webkit-transition: all .25s;
  transition: all .25s;
  color: dimgray;
}

.list_nav a:hover {
  color: coral;
}

.sec_theme.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_intro {
  display: none;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sec_intro .txt_backName {
  margin: 50px 0 0 240px;
  font-size: 220px;
  font-weight: 700;
  opacity: 0;
  -webkit-animation: opacity 3s forwards 2s;
          animation: opacity 3s forwards 2s;
  cursor: default;
}

.sec_intro .txt_backName span {
  display: block;
  color: lightgray;
}

.sec_intro .dot1 {
  position: absolute;
  top: 100px;
  left: 200px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  -webkit-animation: backgroundDot 3s forwards;
          animation: backgroundDot 3s forwards;
}

.sec_intro .dot2 {
  position: absolute;
  top: 200px;
  right: 300px;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  padding-top: 20px;
  background-image: url(../images/img_me.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-animation: backgroundDot 2s forwards;
          animation: backgroundDot 2s forwards;
}

.sec_intro .dot3 {
  position: absolute;
  top: 500px;
  left: 550px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: goldenrod;
  opacity: 0;
  -webkit-animation: backgroundDot 4s forwards .7s;
          animation: backgroundDot 4s forwards .7s;
}

.sec_intro .dot4 {
  position: absolute;
  top: 700px;
  right: 200px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: lightgoldenrodyellow;
  opacity: 0;
  -webkit-animation: backgroundDot 5s forwards .5s;
          animation: backgroundDot 5s forwards .5s;
}

.sec_career {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.sec_career .txt_title {
  display: block;
  font-size: 50px;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-animation: career 2s forwards 1s;
          animation: career 2s forwards 1s;
}

.sec_career .artic_career {
  margin-bottom: 40px;
  opacity: 0;
}

.sec_career .artic_career h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.sec_career .artic_career .wrap_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.sec_career .artic_career dt,
.sec_career .artic_career dd {
  font-size: 24px;
  color: dimgray;
}

.sec_career .artic_career dt {
  font-weight: 700;
}

.sec_career .artic_career dd {
  margin-left: 7px;
}

.sec_career .artic_career .txt_detail {
  color: dimgray;
}

.sec_career .artic_front {
  -webkit-animation: career 2s forwards 1.3s;
          animation: career 2s forwards 1.3s;
}

.sec_career .artic_react {
  -webkit-animation: career 2s forwards 1.6s;
          animation: career 2s forwards 1.6s;
}

.sec_career .dot1 {
  position: absolute;
  top: 500px;
  right: 120px;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  background-color: lightgoldenrodyellow;
  opacity: 0;
  -webkit-animation: backgroundDot 3s forwards;
          animation: backgroundDot 3s forwards;
}

.sec_career .dot2 {
  position: absolute;
  top: 350px;
  right: 350px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 127, 80, 0.5);
  opacity: 0;
  -webkit-animation: backgroundDot 4s forwards;
          animation: backgroundDot 4s forwards;
}

.sec_skills {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.sec_skills .txt_title {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-animation: career 2s forwards;
          animation: career 2s forwards;
}

.sec_skills .list_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-animation: career 2s forwards .2s;
          animation: career 2s forwards .2s;
}

.sec_skills .list_level .wrap_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.sec_skills .list_level dt,
.sec_skills .list_level dd {
  color: dimgray;
}

.sec_skills .list_level dt {
  font-size: 18px;
  font-weight: 700;
}

.sec_skills .list_level dd {
  font-size: 16px;
  margin-left: 7px;
}

.sec_skills .list_levels .btn_level {
  border: none;
  border-bottom: 3px solid dimgray;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  color: darkgray;
  background-color: white;
  opacity: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

.sec_skills .list_levels .btn_level:hover {
  padding-right: 25px;
  color: coral;
}

.sec_skills .list_levels .btn_level.on {
  padding-right: 25px;
  color: black;
}

.sec_skills .list_levels .btn_level5 {
  -webkit-animation: career 1s forwards .4s;
          animation: career 1s forwards .4s;
}

.sec_skills .list_levels .btn_level4 {
  -webkit-animation: career 1s forwards .5s;
          animation: career 1s forwards .5s;
}

.sec_skills .list_levels .btn_level3 {
  -webkit-animation: career 1s forwards .6s;
          animation: career 1s forwards .6s;
}

.sec_skills .list_levels .btn_level2 {
  -webkit-animation: career 1s forwards .7s;
          animation: career 1s forwards .7s;
}

.sec_skills .wrap_skillLevel {
  position: relative;
}

.sec_skills .list_skills {
  position: relative;
}

.sec_skills .txt_skill {
  display: none;
  position: absolute;
  top: -330px;
  left: 200px;
  line-height: 300px;
  font-size: 250px;
  opacity: 0;
  -webkit-animation: career 2s forwards;
          animation: career 2s forwards;
  cursor: default;
}

.sec_skills .txt_skill.on {
  display: block;
}

.sec_skills .txt_smallLetter {
  font-size: 200px;
}

.sec_works {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.sec_works .wrap_btnWorks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-right: 50px;
}

.sec_works .wrap_btnWorks .txt_title {
  display: block;
  font-size: 50px;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-animation: career 2s forwards;
          animation: career 2s forwards;
}

.sec_works .wrap_btnWorks .list_works .btn_work {
  border: none;
  border-bottom: 3px solid dimgray;
  width: 240px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: darkgray;
  background-color: white;
  opacity: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

.sec_works .wrap_btnWorks .list_works .btn_work:hover {
  width: 265px;
  color: coral;
}

.sec_works .wrap_btnWorks .list_works .btn_work.on {
  width: 265px;
  color: black;
}

.sec_works .wrap_btnWorks .list_works .btn_workTeam {
  -webkit-animation: career 1s forwards .4s;
          animation: career 1s forwards .4s;
}

.sec_works .wrap_btnWorks .list_works .btn_momo {
  -webkit-animation: career 1s forwards .5s;
          animation: career 1s forwards .5s;
}

.sec_works .wrap_btnWorks .list_works .btn_workPortfolio {
  -webkit-animation: career 1s forwards .6s;
          animation: career 1s forwards .6s;
}

.sec_works .wrap_btnWorks .list_works .btn_netflix {
  -webkit-animation: career 1s forwards .7s;
          animation: career 1s forwards .7s;
}

.sec_works .artic_work.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_works .artic_work {
  display: none;
}

.sec_works .artic_work .img_work {
  position: relative;
  border: 2px solid dimgray;
  width: 500px;
  height: 700px;
  opacity: 0;
  -webkit-animation: career 2s forwards .1s;
          animation: career 2s forwards .1s;
}

.sec_works .artic_work .txt_link,
.sec_works .artic_work .txt_linkError {
  position: relative;
}

.sec_works .artic_work .txt_link::after,
.sec_works .artic_work .txt_linkError::after {
  content: '위 이미지를 누르면 해당 페이지로 이동합니다.';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: opacity 2s forwards .1s;
          animation: opacity 2s forwards .1s;
  cursor: default;
}

.sec_works .artic_work .txt_linkError::after {
  content: '위 이미지를 누르면 서버 폐쇄로 인해 깃허브로 이동합니다.';
}

.sec_works .artic_work .txt_block {
  color: darkred;
}

.sec_works .artic_work .list_workDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-left: 30px;
}

.sec_works .artic_work .list_workDetail .txt_git {
  border-bottom: 2px solid black;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sec_works .artic_work .list_workDetail .txt_git:hover {
  border-bottom: 2px solid coral;
  color: coral;
}

.sec_works .artic_work .list_workDetail dt {
  font-size: 30px;
  font-weight: 700;
}

.sec_works .artic_work .list_workDetail li {
  font-size: 20px;
}

.sec_works .artic_work .list_workDetail .list_contribute small {
  display: block;
  text-indent: 15px;
}

.sec_works .artic_work .list_workDetail .wrap_content {
  opacity: 0;
}

.sec_works .artic_work .list_workDetail .wrap_summary {
  -webkit-animation: career 1s forwards .5s;
          animation: career 1s forwards .5s;
}

.sec_works .artic_work .list_workDetail .wrap_setting {
  -webkit-animation: career 1s forwards .7s;
          animation: career 1s forwards .7s;
}

.sec_works .artic_work .list_workDetail .wrap_core {
  -webkit-animation: career 1s forwards .9s;
          animation: career 1s forwards .9s;
}

@media screen and (max-width: 1440px) {
  .sec_intro .txt_backName {
    font-size: 200px;
    line-height: 250px;
  }
  .sec_career {
    max-width: 1280px;
  }
  .sec_career .txt_title {
    margin-bottom: 30px;
  }
  .sec_skills {
    max-width: 1280px;
  }
  .sec_skills .txt_skill {
    line-height: 240px;
    font-size: 230px;
  }
  .sec_works {
    max-width: 1280px;
  }
  .sec_works .artic_work .img_work {
    width: 400px;
    height: 600px;
  }
  .sec_works .artic_work .list_workDetail dt {
    font-size: 20px;
    font-weight: 700;
  }
  .sec_works .artic_work .list_workDetail li {
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.css.map */